{% extends 'base.html' %}

{% block title %}Download Posters{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header bg-dark text-white">
        <h3>Download Posters</h3>
    </div>
    {% if posters %}
    <div class="card-body">
        <h5>Download Posters Individually</h5>
        <ul class="list-group mb-4">
            {% for poster in posters %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ poster.title }} {{ poster.college.name }}
                <a href="{% url 'download_individual_poster' poster.id %}" class="btn btn-primary btn-sm">Download</a>
            </li>
            {% endfor %}
        </ul>

        <h5>Download All Posters</h5>
        <a href="{% url 'download_bulk_posters' %}" class="btn btn-success">Download All Posters</a>
     
    </div>
    {% else %}
        No Posters is Available 
    {% endif %}
</div>
{% endblock %}
